html
  head
    title Informe de gastos
  body
    header
      h1 Informe de gastos de la cuenta #{cuenta}
      table
        thead
          tr
            th
            th
            th
        tbody
          each numero in [0,1,2,3]
            tr
              td= numero
              td= numero
              td= numero
      p #{name}´s Pug source code!